
<app-side-nav></app-side-nav>
<div id='content'>
<label>First Name :  </label> <span class="text">{{student.fname}}</span>
    
    <br/><br/>

    <label>Last Name : </label>
    <span class="text">{{student.lname}}</span>
    <br/><br/>

    <label>Age : </label>
    <span class="text">{{student.age}}</span>
    
    <br/><br/>

    <label>Department : </label>
    {{student.department}}
    <br/><br/>
    <label>City : </label>
    <span class="text">{{student.city}}</span>
    <br/><br/>

    <label>Student : </label>
    <span class="text">{{student.isvalid}}</span>
  <br/><br/>
</div>